{% extends 'base.html' %}

{% block content %}

<div class='row'>
  <div class='col-12'>
    <h2>Name: {{object.user.first_name}} {{object.user.last_name}}</h2>
    <p>Patient ID: {{object.patient.pk}}
    {% if user.is_authenticated %}
      {% if user.is_doctor %}
        <a class="float-right" href="{% url 'pr_create' patient.pk %}">Create Prescription</a>
      {% endif %}
    {% endif %}
    </p>
    </div>
  <div class='row'>
    <div class='col-12'>
      <p>NID: {{object.user.NID}}</p>
      <p>Age: {{object.user.age}}</p>
      <p>Sec: {{object.user.gender}}</p>
      <p>E-mail: {{object.user.email}}</p>
      <p>Address: {{object.address}}</p>

      <hr/>
      <p> Back to <a href="{% url 'home' %}">Home</a>.</p>
    </div>
  </div>
{% endblock content %}
