{% extends 'base.html' %}
{% block title %}Doctors{% endblock title %}


{% block content %}

<h4 class="display-2">All Doctors</h4>

  {% for doctor in object_list %}

    <div class="card">
      <div class="card-header">
        <span class='text-weight-bold'> {{forloop.counter}}.</span>

        <span class="font-weight-bold">{{doctor.user.first_name}} {{doctor.user.last_name}}</span>

        <span class="text-muted">from </span>
        {{ doctor.MBBS_Inst }}
        <a href="{% url 'doctor_detail' doctor.pk %}"> View </a>
      </div>
    </div>


    <br />

  {% endfor %}



{% endblock %}
